@import './common.scss';

body {
	overflow-x: auto;
	padding-right: 0 !important;
}
#wrap {
	display: flex;
	width: 100%;
}
#mouse-scroll {
	position: fixed;
	margin: auto;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	z-index: 9999;
	.mouse {
		height: 40px;
		width: 25px;
		border-radius: 20px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		border: 2px solid #e3e3e3;
		top: 170px;
		.mouse-in {
			height: 8px;
			width: 2px;
			display: block;
			margin: 5px auto;
			background: #cecece;
			position: relative;
			animation: animated-mouse 1.2s ease infinite;
		}
		@keyframes animated-mouse {
			0% {
				opacity: 1;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
			100% {
				opacity: 0;
				-webkit-transform: translateY(6px);
				-ms-transform: translateY(6px);
				transform: translateY(6px);
			}
		}
	}
}
.lnb {
	border-radius: 0 50px 0 0;
	width: 261px;
	min-height: 100vh;
	text-align: center;
	background-color: #5094e9;
	h1 {
		margin: 46px 0 30px 0;
	}
	> ul {
		> li > a {
			display: block;
			line-height: 60px;
			font-size: 18px;
			color: #fff;
			font-weight: 400;
		}
		> li.on {
			position: relative;
			> a {
				color: #b4f9ff;
				font-weight: 500;
			}
		}
		> li.on::before {
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			width: 6px;
			height: 46px;
			background: #b4f9ff;
		}
	}
}

.container {
	/* flex: 1; */
	/* width: calc(100% - 310px); */
	/* padding: 0 0 50px 50px; */
	width: 100%;
	/* background-position-y: 0; */
	height: 100%;
	.top {
		display: flex;
		/* justify-content: end; */
		align-items: center;
		padding: 0 32px;
		width: 100% !important;
		height: 100px;
		background: rgb(255, 255, 255);
		z-index: 3;
		position: fixed;
		@include desktop{
			border-bottom: 1px solid rgba(200, 200, 200, 0.75);
		}
		.MuiToolbar-root {
			min-height: 80px !important;
		}
	}
	main {
		position: relative;
		display: flex;
	}
}

#headerTopWrap .MuiBox-root {
	padding-right: 20px;
	position: absolute;
	width: auto;
	.menu {
		position: fixed;
		right: 10px;
		top: 30px;
		width: 800px;
		z-index: 9999;
	}

	.menu > li {
		width: 15%; /*20*5=100%*/
		float: left;
		text-align: center;
		line-height: 40px;
	}

	.menu a {
		color: #fff;
		font-size: 20px;
		// font-weight: 400;
	}
	.submenu > li {
		line-height: 50px;
		background-color: #ffffff;
	}
	.menu > li:hover {
		transition-duration: 0.5s;
	}
	.submenu {
		overflow: hidden;
		height: 0;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: -0.25px;
		left: -25%;
		z-index: 100;
	}

	.menu > li:hover {
		.submenu {
			transition-duration: 0.5s;
			width: 150%;
			top: 25px;
			box-shadow: 5px 5px 7px rgba(102, 102, 102, 0.5);
			border-radius: 5px;
			p {
				color: #6d6d6d;
				display: block;
				font-size: 16px;
				font-weight: 400;
				white-space: nowrap;
			}
			position: relative;
			z-index: 100;
			li:hover {
				p {
					color: #5778ff;
					font-weight: 500;
				}
				cursor: pointer;
			}
			div {
				position: relative;
				width: 70%;
				margin: 0 auto;
				top: 0;
				border-top: 5px solid #5778ff;
			}
		}
		.submenu1 {
			height: 250px;
		}
		.submenu3,
		.submenu2 {
			height: 100px;
		}
		.submenu6 {
			height: 50px;
		}
		.submenu4,
		.submenu5 {
			height: 150px;
		}
	}
}

.contents {
	width: 100%;
	> .cont {
		padding: 50px 30px;
		border-radius: 0 20px 0 0;
		background: #fff;
	}
	> .cont:first-child {
		border-radius: 20px 20px 0 0;
	}
}

.swiper-btn {
	color: #ffffff !important;
	font-weight: bold;
	padding: 45px;
	background-color: rgba(0, 0, 0, 0.15);
	border: none;
	@include mobile{
		padding:30px;
	}
}
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-button-prev:before,
.swiper-button-next:before {
	font-size: 20px !important;
}

// .css-heg063-MuiTabs-flexContainer {
.MuiTabs-flexContainer {
	display: inline-block !important;
}

#img-container .swiper {
	z-index: 0 !important;
	width: 100%;
	//height: 820px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	@include mobile {
		padding-top: 0 !important;
	}
	@include tablet {
		padding-top: 0 !important;
	}
	.slider-img {
		background-size: cover;
		background-position: center;
		color: white;
		height: 100%;
		width: 100%;
		text-align: left;
		font-weight: bold;
	}

	#slider2 {
		background-image: linear-gradient(to right, rgba(40, 59, 102, 0.68), rgba(255, 255, 255, 0)), url('../images/common/bg_main04.jpg');
	}

	#slider1 {
		background-image: linear-gradient(to right, rgba(40, 59, 102, 0.68), rgba(255, 255, 255, 0)), url('../images/common/bg_main03.jpg');
	}
	.slider-text-pc {
		padding-top: 15%;
		padding-left: 15%;
		@include mobile {
			padding-top: 50%;
		}
		span,
		p {
			text-shadow: 4px 2px 2px black;
		}
		span {
			font-size: 30px;
		}
		p {
			margin-top: 10px;
			font-size: 50px;
			@include mobile {
				font-size: 40px;
			}
		}
		.last-p {
			margin-top: 20px;
			font-size: 20px;
		}
	}
}

footer {
	bottom: 0;
	background-color: #3c3c3c;
	text-align: center;
	color: #b5b5b5;
	padding: 20px;
	.footLine {
		width: 100%;
		border-top-width: 1px;
		border-style: solid;
		border-color: #4d4d4d;
		display: flex;
		margin: 30px 0 30px 0;
	}
	#footerLogo {
		margin: 10px;
	}

	#footTab {
		width: 40%;
		margin: 20px auto 40px auto;
	}
	.MuiTabs-indicator {
		display: none;
	}
	.mobile {
		img {
			width: 150px;
		}
		ul {
			font-size: 12px;
		}
	}
	.pc li {
		padding-bottom: 10px;
	}
}

#dialog{
	img{
		width: 100%;
		//height: 100%;
		@include mobile{
			//height: 300px;
		}
	}
	.MuiDialog-paper{
		max-width: unset !important;
	}
}