@import './common.scss';

/*메인 intro*/
.intro {
	background-color: #f5f5f9;
	width: 100%;
	div {
		width: 100%;
		text-align: center;
		/* padding-bottom: 50px; */
	}
	.sub_intro_warp {
		padding: 0 15% 210px;
	}
	#introTitle {
		padding: 7%;
	}
	#introP {
		font-size: 35px;
		font-weight: bold;
		color: #0034b5;
	}
	#introP2 {
		font-size: 20px;
	}
}

/* 메인 intro 이미지애니메이션 효과 */
.main_sub_intro_container {
	width: 150px;
	height: 200px;
	perspective: 1000px;
	.item {
		width: 150px;
		height: 200px;
		border: 1px solid #828282;
		backface-visibility: hidden;
		transition: 0.7s;
	}
	.item.front {
		position: absolute;
		transform: rotateY(0deg);
	}
	.item.back {
		transform: rotateY(-180deg);
	}
}

.main_sub_intro_container:hover {
	.item.front {
		transform: rotateY(180deg);
	}
	.item.back {
		transform: rotateY(0deg);
	}
}

/*사업분야*/
.intro-card {
	background: url('../images/main/main_bg.png') no-repeat top center;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	padding-top: 100px;
	@include mobile {
		padding-top: 0;
	}
	.swiper {
		z-index: 0 !important;
	}
	.intro-card-hover {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.54);
		color: white;
		text-align: center;
		font-size: 30px;
		p {
			padding-top: 45%;
		}
	}
	.MuiTab-root {
		text-align: center;
		margin: 30px 0;
		font-size: 15px;
		font-weight: bold;
      font-family: 'Noto Sans KR', Dotum, Arial, sans-serif;
	}
	.intro-card-btn {
		border: 1px solid white;
		font-size: 18px;
		color: white;
		display: inherit;
		width: 100px;
		margin: 20px auto;
		text-align: center;
	}
	.intro-card-btn:hover {
		border-color: #1f88e5;
		border-width: 2px;
		color: #1f88e5;
	}
	.menu_title_p_fixed_warp {
		text-align: center;
		padding-top: 50px;
		.menu_title_p1 {
			color: #002a52;
			font-size: 40px;
			font-weight: 500;
			@include mobile {
				font-size: 35px;
				font-weight: bold;
			}
		}
	}
  background: url('../images/main/main_bg.png') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  padding: 100px 0;
  @include mobile{
    padding-top: 0;
  }
  .swiper {
    z-index: 0 !important;
  }
  .intro-card-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
    text-align: center;
    font-size: 30px;
    p{
      padding-top: 45%;
    }
  }
  .MuiTab-root {
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
    font-weight: bold;
  }
  .menu_title_p_fixed_warp{
    text-align: center;
    padding-top : 50px;
    .menu_title_p1{
      color: #002a52;
      font-size: 40px;
      font-weight: bold;
      @include mobile{
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

	.MuiTab-root {
		@include mobile {
			min-width: 40px;
		}
	}
}
#map {
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.main-title{
  font-size: 190px;
  font-weight: bold;
  line-height: 0;
  color: rgba(218, 218, 218, 0.34);
  margin-top: 20px;
  left:-1;
  position: absolute;
  z-index: 0;
  @include mobile{
    display: none;
  }
}

.intro2 {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 100px 20%;
  @include mobile{
    padding: 50px 5%;
    text-align: center;
  }
  @include tablet{
    padding: 50px 15%;
    text-align: center;
  }
  .menu_title_p_fixed_warp{
    text-align: center;
    padding:50px 0;
    .menu_title_p1{
      color: #002a52;
      font-size: 40px;
      font-weight: bold;
      @include mobile{
        font-size: 35px;
        font-weight: bold;
      }
    }
  }
  .intro-content{
    img{
      width: 100%;
      max-height: 500px;
      //@include mobile{
      //  width: 380px;
      //}
    }
    span{
      font-size: 1.5rem;
      font-weight: 500;
      @include mobile{
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    p{
      font-size: 1.2rem;
      font-weight: 400;
      color: rgb(83, 83, 83);
    }
    .MuiButton-root{
      @include mobile{
        float: unset;
        margin:30px;
      }
      @include tablet{
        float: unset;
        margin:30px;
      }
    }
  }
  .intro-count{
    display: flex;
    width: 100%;
    .intro-count-box{
      z-index: 1;
      text-align: center;
      width: 33%;
      .intro-count-num{
        color: #1f88e5;
        font-size: 40px;
        font-weight: bold;
        @include mobile{
          font-size: 25px;
        }
      }
      .intro-count-title{
        font-size: 20px;
        font-weight: 500;
      }
      .intro-count-text{
        color: #1f88e5;
        font-size: 25px;
        font-weight: bold;
        @include mobile{
          font-size: 15px;
        }
      }
    }
  }
}

.contact {
  text-align: center;
  height: 450px;
  background: url("../images/main/bg_contact.jpg") no-repeat fixed center;
  background-size: cover;
  @include mobile{
    height: 500px;
  }
  .contact-content{
    height: 100%;
    background-color: rgba(3, 15, 39, 0.74);
    .menu_title_p1{
      color: white;
    }
    p:last-child{
      color: white;
      width: 700px;
      font-size: 25px;
      margin: 0 auto;
      @include mobile{
        width: 100%;
      }
    }
  }
}
.text{
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  font-size: 7rem;
  font-weight: bold;
  color: rgba(164, 164, 164, 0.58);
}
@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: slideAnimation linear infinite;
}
